// Colours: 
$navbarBlack: rgba(44, 43, 43, 0.97);
$overlayBlack: rgba(0, 0, 0, 80%);
$black: black;
$white: white;
$headerGrey: #c7c7c7;
$footerGrey: #f5f5f7;
$footerBorderGrey: #d2d2d7;
$textGrey: #6e6e73;
$linkGrey: #424245;
$linkBlue: #0066cc;


//Font sizes: 
$font-lg: 2rem; // 32px
$font-md: 1.1875rem; // 19px
$font-sm: 0.75rem; // 12px